<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.werac.yeah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/dia"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="WERAC"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mypage.MyPageActivity"
            android:label="@string/title_activity_my_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypage.MCPageActivity"
            android:label="@string/title_activity_mc_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypage.CreaterPageActivity"
            android:label="@string/title_activity_mc_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".werac_create.CreateWeracActivity"
            android:label="개설페이지"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".werac_detail.DetailViewActivity"
            android:label="상세페이지"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".werac_modify.ModifyWeracActivity"
            android:label="수정페이지"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>