<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.werac.yeah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="kr.werac.yeah.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="kr.werac.yeah.permission.C2D_MESSAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="WERAC"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mypage.MyPageActivity"
            android:label="@string/title_activity_my_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypage.MyPageModifyActivity"
            android:label="@string/title_activity_my_page_modify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypage.MCPageActivity"
            android:label="@string/title_activity_mc_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypage.CreaterPageActivity"
            android:label="@string/title_activity_mc_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".werac_create.CreateWeracActivity"
            android:label="개설페이지"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".werac_detail.DetailViewActivity"
            android:label="상세페이지"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".werac_modify.ModifyWeracActivity"
            android:label="수정페이지"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity android:name=".login.AgreementActivity"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity
            android:name=".mypage.AlarmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".werac_detail.GuestListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="kr.werac.yeah" />
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false">
        </service>
        <provider android:authorities="com.facebook.app.FacebookContentProvider290132857987366"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>